<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
<!--</div>-->
<!--<twins-coin-list-widget coin-ids="win-win" currency="usd" locale="en" width="0" height="300"></twins-coin-list-widget>-->
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img class="logo" src="/assets/images/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
          <!--<a class="nav-link" routerLink="/">Home</a>-->
        <!--</li>-->
        <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
          <!--<a class="nav-link" routerLink="/coin-list-widget">Coin List Widget</a>-->
        <!--</li>-->
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>




